.add {
    margin: 7px;
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    border-color: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 10px;
}
.temp-list{
    padding: 15px;
}

.title{
    text-align: center;
    font-family: 'Pompiere', cursive;
    font-size: 900px;
}



.delete{
    margin: 7px;
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    border-color: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 10px;
}

.add:hover{
    background-color: rgb(164, 210, 248);
    color: black;
}

.delete:hover{
    background-color:  rgb(164, 210, 248);
    color: black;
}

input[type="button"], input[type="search"]{
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    border-color: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"]{
    border-color: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 5px;
}
input[type="text"]:focus {
    border: 3px solid rgb(199, 212, 231);
    outline:none;
}

.raised {
    border-color: black;
    border-width: medium;
    background-color: rgb(244, 249, 253);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 5px;
}
.raised:hover{
    background-color:  rgb(116, 190, 250);
    color: black;
}

.navbar {
    text-align: center;
}

.drug-title{
    float: left;
 
}

.add{
    float:left;
}

.one-list {
    color: blue;
    text-decoration: underline;
    line-height: 2em;
}